.sectionCargo{
    /* background-image: url("../img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    height: 800px;
}
.sectionCargo .image{
    position: relative;
    right: 100px;
    width: 600px;
    height: 300px;
    /* background-color: grey; */
    border-radius: 10%;
    z-index: -10;
}
.sectionCargo .image img{
    padding: 0;
    width: 600px;
    max-height: 100%;
    border-radius: 10%;
}

.list{
    margin-left: 40px;
    margin-top: 20px;
    max-width: 30%;
    height: 600px;
    /* background-color: rgba(63, 63, 63, 0.11);
    box-shadow: 0 5px 15px rgba(0,0,0,.5); */
}
.list ul{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    top: 60px;
    
}
.list ul li{
    color: black;
    font-weight: 3000;
    font-size: 30px;
}
.imagesCargo{
    position: relative;
    bottom: 625px;
    margin-left: auto;
    margin-right: 40px;
    width: 620px;
    height: 600px;
    /* background-color: rgba(63, 63, 63, 0.11);
    box-shadow: 0 5px 15px rgba(0,0,0,.5); */
}
.uploadFoto{
    position: relative;
    top: 50px;
    left: 60px;
    text-decoration: none;
    color: white;
    background: #7C78DC ;
    width: 50%;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 2rem;
    font-size: 1.2rem;
}
.lineCargo{
    background-color: #7C78DC;
    width: 110px;
    height: 6px;
    margin-left:200px ;
}