.sectionCargo{
    background-image: url("../img/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.image{
    width: 600px;
    height: 300px;
    background-color: grey;
    border-radius: 10%;
    z-index: -10;
}
.image img{
    padding: 0;
    width: 600px;
    max-height: 100%;
    border-radius: 10%;
}
.button{
    /* display: block; */
    /* margin-right: auto;
    margin-left: auto; */
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: var(--second-color);
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 2rem;
    font-size: 1.2rem;
    /* filter:  drop-shadow(0px 5px 20px var(--first-color)); */
}
.list{
    margin-left: 40px;
    margin-top: 20px;
    max-width: 30%;
    height: 600px;
    background-color: rgba(63, 63, 63, 0.11);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.list ul{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 30px;
    top: 90px;
    
}
.list ul li{
    color: black;
    font-weight: 3000;
    font-size: 30px;
}
.imagesCargo{
    position: relative;
    bottom: 625px;
    margin-left: auto;
    margin-right: 40px;
    width: 620px;
    height: 600px;
    background-color: rgba(63, 63, 63, 0.11);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}